<p>menu works!</p>

 <ul>
<li><a routerLink="home">Home</a></li>
<li><a  routerLink="login">Login</a></li>
<li> <a  href="contactus">Contact</a></li>
<li> <a  routerLink="aboutus">About Us</a></li>
   <li><a  routerLink="help">Help </a></li>
       <li> <a  routerLink="faq">FAQ </a></li>
<li><a class="nav-link" routerLink="buyinsurance">Buy Insurance</a></li>
<li><a class="nav-link" routerLink="renewinsurance">Renew Insurance</a></li>
<li><a class="nav-link" routerLink="claiminsurance">Claim Insurance</a></li>
<li><a class="nav-link" routerLink="estimateinsurancecal">Estimate Insurance Calculation</a></li>
<li><a class="nav-link" routerLink="adminlogin">Admin Login </a></li>
</ul>
