<p>resetpassword works!</p>

<div class="form-group" [hidden]="wrongEmail">
    <p>
    Enter your Email-Id
    </p>
    <input type="Email" class="form-control" id="exampleInputPassword1" placeholder="Email-Id" #EmailGiven>
    <button type="submit" class="btn btn-primary" (click)="submitForm(EmailGiven)">Submit</button>
    </div>
    <div [hidden]="!wrongEmail">
    <p>
    Change Password
    </p><br><br>
    <p>
    Email-Id
    </p>
    <input type="Email" class="form-control" id="exampleInputPassword2" placeholder="Email-Id" #newEmail>
    <p>
    New Password
    </p>
    <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password" #newPassword>
    <p>
    Re-enter New Password
    </p>
    <input type="password" class="form-control" id="exampleInputPassword3" placeholder="Password" #reNewPassword>
    <button type="submit" class="btn btn-primary" (click)="changePassword(newPassword,reNewPassword)">Submit</button>
    </div>