<!-- <app-contactus></app-contactus> -->

 <!-- <app-resetpassword></app-register>  -->

  <div class="bg-img">         
    <h1 style="text-align:center; text-decoration: none; color: rgb(69, 69, 100); ">VECHILE INSURANCE</h1>    
<br>
 <ul>
<li><a routerLink="home">Home</a></li>
<li><a  routerLink="login">Login</a></li>
<li> <a  href="contactus">Contact</a></li>
<li> <a  routerLink="aboutus">About Us</a></li>
   <li><a  routerLink="help">Help </a></li>
       <li> <a  routerLink="faq">FAQ </a></li>
<li><a class="nav-link" routerLink="buyinsurance">Buy Insurance</a></li>
<li><a class="nav-link" routerLink="renewinsurance">Renew Insurance</a></li>
<li><a class="nav-link" routerLink="claiminsurance">Claim Insurance</a></li>
<li><a class="nav-link" routerLink="estimateinsurancecal">Estimate Insurance Calculation</a></li>
<li><a class="nav-link" routerLink="adminlogin">Admin Login </a></li>
</ul>
</div>

<router-outlet></router-outlet>

<br><br><br><br><br><br><br><br><br><br><br>
<footer>

  <div>
  
     <div class="img">
  
         <img align="left"  src="/assets/IAlogo.png"  />  
  
     </div>
  
     <div class="text">
  
     <p style="text-align:right" >Our Office</p>
  
  <p style="text-align:right">553 Lorem Ipsum St, Lorem, Ipsum 32308</p>
  
  
  
  <p style="text-align:right ">+00 123 456 7890</p>
  
  </div>
  
  <hr>
  
  <p style="text-align:center">Copyright 2022 Insurance Agency | All Rights Reserved<br>
  
  </p>
  
  </div>
  
  </footer>

 










