<div class="header">CONTACT US</div>
<div class="banner">
<div class="row" >
    <div class="column">
    <h3>The LTI Insurance Company Ltd.
        Registered Office :</h3>

LTI House, A-25/27, Asaf Ali Road,<br>

New Delhi - 110002<br>

Phone No's :011-43659595<br>
</div>
<h3>For any grievance or complaint :</h3>
<div class="column">
Grievance Nodal Officers at Head Office and Regional Offices
    Please write to -<br>

Smt. Anita Sharma , Chief Manager,<br>

Customer Service Department<br>
4th Floor, Aggarwal House<br>
Asaf Ali Road,<br>
New Delhi-110002.<br>

Email: anitasharma@ltiinsurance.co.in, <br>   csd@ltiinsurance.co.in<br>

 
Online Grievance Registration and Status Tracking<br>

 
Off line Format for lodging Grievance / Complaint<br>

 
Grievance Nodal Officers at Head Office and Regional Offices<br>


<h3>Contact details :
</h3>

For all query, guidance use our Toll free number:
1800118485 Or 011- 33208485<br>

For any technical Issues related to Portal:
Report Portal Related Incident<br>

For any refund related issues w.r.t Portal transactions:
portal.refunds@ltiinsurance.co.in<br>
    
</div>   
</div>
</div>

