<p>claim-insurance works!</p>
<!DOCTYPE html>

<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
   
    <title>Claim insurance </title> 
</head>
<body>
  
  
        <form action="#">
            <div class="form ">
                <div class="Claim">
                    <span class="title"><strong> Policy Claim Details</strong></span>
 
                    <div style="margin-top:30px;">
                    <div class="fields">
                        <div class="input-field">
                            <label>Policy Number</label>
                            <input type="text" placeholder="Enter Policy Number" required>
                          
                        </div>

                        </div>
                        <div style="margin-top:30px;">
                             <div class="input-field">
                            <label>Mobile Number</label>
                            <input type="number" placeholder="Enter mobile number" 

required >
                             </div>
                        </div>
                        <div style="margin-top:20px;">
             <h1> Reson  to Claim Insurance</h1></div>
             <select Reson ="claim">
<option value=””>Natural Disaster</option>
<option value=””>Man-made Disaster</option>
<option value=””>Road Accident</option>
<option value=””>Theft</option>
</select>
<div></div>
<div style="margin-top:30px;">
                        <button class="sumbit">
                            <span class="btnText">Submit</span>
                            <i class="uil uil-navigator"></i>
                        </button>
</div>
                    </div>
                </div> 
            </div>
  
        </form>
    

</body>
</html>